Monitoring/MonitoringClient/Service References/refMonitoring/Monitoring.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Monitoring" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Monitoring" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MonitoringValues">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ausschussmengen" type="xs:int" />
      <xs:element minOccurs="0" name="Gutmengen" type="xs:int" />
      <xs:element minOccurs="0" name="Maschinenstatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringValues" nillable="true" type="tns:MonitoringValues" />
</xs:schema>