Monitoring/MonitoringClient/Service References/refMonitoring/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Monitoring" />
  <xs:element name="isAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Monitoring" minOccurs="0" name="CurrentValuesResult" nillable="true" type="q1:MonitoringValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>